<header>
  <ul>
    <li>
      <a href="https://thpadelis.github.io/ng-internationalization/">English</a>
    </li>
    <li>
      <a href="https://thpadelis.github.io/ng-internationalization/fr"
        >French</a
      >
    </li>
    <li>
      <a href="https://thpadelis.github.io/ng-internationalization/el">Greek</a>
    </li>
  </ul>
</header>

<main>
  <section>
    <h1 i18n="Article Heading|Title for the article@@articleHeading">
      Why is Internationalization so important?
    </h1>
    <p
      i18n="Article Description|Description for the article@@articleDescription"
    >
      These days, with so many websites to choose from, making applications
      available and user-friendly to a worldwide audience is important. It's the
      move to make a better user experience.
    </p>
    <small i18n="Full Article|Read the whole article@@fullArticle"
      >Find the full article
      <a
        href="https://github.com/ThPadelis/ng-internationalization"
        target="_blank"
        >here</a
      ></small
    >
  </section>
</main>
